// main: main.styl

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px){} //remove brackets before using section

/* Larger than phablet */
@media (min-width: 550px)

  body
    padding-top 92px

  .menu-toggle, .main-navigation.toggled ul
    height 92px
    width 92px
    font-size 250%

/* Larger than tablet */
@media (min-width: 750px)

  .site-header
    height 92px

  .site-branding
    position absolute
    top 11px
    left 28px
    .header-logo
      height auto
      width 242px
      max-width none

  .header-shadow
    position absolute
    top 100%
    height 18px
    &.header-shadow-right
      left 133px
    &.header-shadow-left
      left -2972px

  .logo-shadow
    position absolute
    top 80px
    width auto
    min-width none
    max-width none
    height 45px

  .hero-wrapper
    min-height 400px
    text-align left
    h1
      padding 3px 0 10px
      max-width 62%
    h2
      padding 3px 0 50px
      max-width 62%
    p
      max-width 47%
      font-weight 300

  .hero-left
    left 0
    width 58%
    background none

  .hero-right
    right 0
    width 50%

  .blog-hero
    .max-width-wrapper
      padding 40px 10px 30px
    h1
      max-width 43%
    .entry-meta
      max-width 40%
    p
      max-width 38%
    .hero-left
      left 0
      width 43%
    .hero-right
      right 0
      width 65%

  .section-two
    margin-bottom 80px
    background $dark-grey
    .max-width-wrapper
      display flex
      padding 0px
      max-width 1024px
    .section-left, .section-right
      width 50%
    .section-left
      -webkit-box-shadow none
      -moz-box-shadow none
      box-shadow none
    .section-right
      padding 30px 0 20px 20px
      text-align left
      background none
      h2
        font-size 225%
        font-weight 400
      p
        margin 0
        width 80%

  .imac
    position absolute
    top -23px
    left auto
    right 0
    width auto
    height auto
    max-width 100%

  .macbook-air
    display none

  .customers-section
    padding 70px 0
    h2
      padding 0 0 30px
      margin 0 auto
      width 40%
      max-width 680px
      font-size 225%
      font-weight 400
    p
      margin 0 auto
      width 80%
      max-width 680px
      font-size 125%
      font-weight 300

  .customer-logos
    width 85%
    flex-direction row
    flex-wrap wrap-reverse
    img
      margin 10px 15px
    .buzzfeed-logo
      order 1
    .disney-logo
      order 2
    .pg-logo
      order 3
    .microsoft-logo
      order 4
    .warner-bros-logo
      order 5
    .amazon-logo
      order 6
    .coast-guard-logo
      order 7
    .pg-logo, .warner-bros-logo, .coast-guard-logo
      display inline-block

  .dual-section
    display flex
    flex-direction row
    align-items stretch
    .section-left, .section-right
      display flex
      width 50%
    .section-left .content-wrapper
      margin 0 0 0 auto
    .section-right .content-wrapper
      margin 0 auto 0 0

  .grid-sizer
    width: 33.33%

  .grid-item
    width: 33.33%

  .grid-item-featured
    width: 66.66%
    h2
      font-size 250%
      &:before
        display block
        content: 'Previously Featured'
        width 100%
        font-size 35%
        color: $green
    .thumbnail-wrapper
      height 437px
    .blog-content-wrapper
      position absolute
      display flex
      flex-direction column
      justify-content center
      padding 0 35px 0 15px
      top 0
      height 100%
      width 60%
      background $blog-white

  article
    margin 0
    height: 436px
    border 2px solid #ACACAC
    overflow hidden
    &.hentry
      margin 0
    .thumbnail-wrapper
      display: block
      height 198px
      overflow hidden
      img
        position absolute
        width 100%
        height 100%
        object-fit cover
    h2
      padding 0
      font-size 138%
    .entry-meta
      padding-bottom 6px
      font-size 113%

  .read-more-link
    padding-bottom 0
    margin-bottom 0
    border-bottom none

  .map-container
    width 48%
    &.map-left
      float left
      margin-bottom 0
    &.map-right
      float right
      margin-bottom 0

  .map-text-container
    h3
      margin-top 60%

  .contact-info-wrapper
    display flex

  .site-footer
    background #4D4D4D
    text-align left
    img
      position absolute
      top 50%
      left 50%
      margin-top -52px
      margin-left -49px
      width 98px

  .footer-navigation
    margin-top 0
    font-size 100%
    font-weight 400
    ul
      li
        padding 0
    > div
      display inline-block
      vertical-align top

  .footer-one
    float left
    left 5%

  .footer-two
    float left
    left 15%

  .footer-three
    float right
    right 15%

  .footer-four
    float right
    right 5%

/* Larger than desktop */
@media (min-width: 1024px)

  html, body
    font-size 16px

  .max-width-wrapper
    padding 40px 60px 30px

  .site-header
    height 92px

  .site-branding
    top 11px
    left 28px
    .header-logo
      width 242px

  .menu-toggle, .main-navigation.toggled ul
    display none

  .phone-container
    display block

  .raq-btn-container
    display inline-block

  .hero-right img.right-cover
    display block
    width auto

  .dual-section .section-right .content-wrapper span
      display none

/* Larger than Desktop HD */
@media (min-width: 1200px) {} //remove brackets before using section
